.container {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

header div nav {
    padding: 20px 20px;
}

header div nav a {
    text-decoration: none;
    background-color: rgb(124,57,188);
    color: #fff;
    padding: 10px 20px;
    font-weight: bold;
    font-family: cursive;
    border-style: outset;
    border-radius: 10px;
}

header div nav a:hover {
    background-color: rgb(172,124,212);
    color: #fff;
}

.active {
    background-color: rgba(85,0,170,255);
    color: #fff;
    text-decoration: underline white;
}

.logo {
    margin: 10px;
    max-height: 50px;
}

