body {
    min-height: 100vh;
    background-image: url(./images/greyWoodBoards1024x576.jpg);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
    font-family: 'Comic Sans MS', 'Comic Sans', 'Bradley Hand', sans-serif;
}
footer {
    display: flex;
    align-self: end;
    width: 100%;
    margin: auto auto 5px auto;
    padding-top: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
h1 {
    color: silver;
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 20px;
}
h2 {
    color: rgb(84,4,172);
    text-align: center;
    padding-top: 5px;

}
h3 {
    color: silver;
    text-align: center;
}
h5, h6 {
    color: silver;
    padding-bottom: 20px;
    align-self: center;
    width: 50vw;
}
p {
    color: rgb(84,4,172);
    max-width: 75ch;
    padding: 15px;
    margin: auto;
}
figure {
    margin: 10px;
    border: darkgray;
    border-style: inset;
    border-width: 10px;
    height: auto;
    width: auto;
}
figcaption {
    background-color: lightgray;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}
table {
    width: 100%;
}
th, td {
    padding: 5px;
    color: lightgray;
}
.appWrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Header and Navigation Classes */
.logo {
    max-height: 50px;
}
.nav-link {
    display: inline;
    color: rgb(84,4,172);
}
.nav-link:hover, .nav-link:focus {
    color: rgb(222,205,238);
    text-decoration: underline;
}
/* Had to use important flag to override the bootstrap reboot.scss hover and focus styles to keep the active class styles primary */
.active {
    color: rgb(172,132,212) !important;
    text-decoration: none !important;
}

/* Route Component Classes */
.row {
    margin: 15px;
}
.sectionContent {
    background-color: rgb(222,205,238);
    border: darkgray;
    border-style: inset;
    border-width: 10px;
}

/* About Component */
#aboutTitle {
    text-align: center; 
    vertical-align: top;
}
#about-tiles {
    margin: 10px;
    border: darkgray;
    border-width: 10px;
    max-width: 200px;
    max-height: 200px;
    align-self: center;
}
/* Home Components */
#muddyMtn {
    align-self: center;
}

/* Project Component */
.gif {
    height: 100%;
    width: 100%;
}

/* Contact Components */
.round {
    margin: 10px;
    border-radius: 50%;
    border: 10px solid darkgray;
    max-width: 200px;
    max-height: 200px;
    /* Prevent background color leak outs */
    -webkit-background-clip: padding-box; 
    -moz-background-clip:    padding; 
    background-clip:         padding-box;
}
.contactLink {
    display: inline;
    color: lightgray;
    font-weight: bold;
}
.contactLink:hover, .contactLink:focus {
    color: rgb(222,205,238);
    text-decoration: underline;
}
